body{
    background: #eee;

}
.wrapper{
    background: #fff;
    max-width: 960px;
    margin: auto;
    padding: 20px;

}
.wrapper:after{
  content: "";
  display: block;
  clear: both;
}
.blue{
    background: blue;
    float: right;
    justify-content: space-between;
}
.red{
    background: red;
    float: right;
    
}
.green{
    background: green;
    float: right;
}
.box{
    height: 100px;
    width: 100px;
}