
#header{
    display: grid;
     width: 100px;
     height: 20vh; 
      grid-template-rows: repeat(8,1fr);  
     grid-template-columns: repeat(8,1fr);
}
#header1,#header2{
    
    width: 100px;
     height: 20vh;
    
}
#header1{
    background-color: black;
}
#header2{
    background-color:rgb(234, 142, 22);
}


