/* body{

   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
.grid_container{
    background: #eee;
    margin: 0 auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: 300px;
}
.grid_container > div {
    background: #ccc;
    text-align: center;
    padding: 20px;
    border: 1px  solid #777;
    
}