 
.wrapper{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
    
}
.semicolon-logo{
    width: 12vw;

}

.about{
   
    justify-content: space-between;

} 

.swit-id{
   justify-content: space-between;
}

.direction-buttons{
    display: flex;
  
}
.cta{
    justify-content: space-between;
    margin-right: 2vw;
    border-radius: 10px;
    cursor: pointer;
    
}
.upload{
    background-image: url("https://res.cloudinary.com/semicolon-website/image/upload/v1637762891/website/assets/hero-backgrounds/Hero-Image_hbuici.png");
}